body {
  background-color: $white;
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
}

.title, .center {
  text-align: center;
}

.box {
  display: inline-block;
  width: 350px;
  height: 350px;
  background-color: $green;
  color: $white;
  margin: 0 12.5%;
  &.box-2 {
    background-color: $yellow;
  }
  &.box-3 {
    background-color: $cyan;
    margin: 3% 12.5%;
  }
  &.box-4 {
    background-color: $pink;
    margin: 3% 12.5%;
  }

}

a {
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }

}
.box-label[data-color="green"] {
  color: $purple;
}
.box-label, .box-label-2 {
  text-align: center;
  padding-top: 37.5%;
  text-decoration: none;
}


.answer{
  color: $green;
  margin: 37.5% 25%;
  font-size: 5em;
  &.answer-2 {
    color: $white;
    margin: 37.5% 27%;
  }
}